:root{
    --plava: #007bff;
    --narandzasta: #e74c3c;
}
main{
    margin-top: 20px;
}
.pesme{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-evenly;
}
.lista{
    grid-template-columns: 95%;   
}
.lista .telo-kartice{
    height: auto;
}
.lista .prikazi-vise{
    display: none;
}
.lista .pesma, .lista .naslov{
width: 100%;
}
.lista .sadrzaj, .lista .komentari{
    width: 50%;
    margin: 0;
}
.lista .telo-kartice{
    display: flex;
}
.lista .komentari{
    display: flex;
}
.lista .sadrzaj{
    border-right: 2px solid #ccc;
}
/*.lista .kartica{
    max-height: 100vh;
}
*/
.lista p{
    height: auto;
    overflow-y: auto;
}
@media only screen and (max-width: 1200px) {
    .pesme:not(.lista){
        grid-template-columns: 30% 30% 30%;
    }
}

@media only screen and (max-width: 1000px) {
    .pesme:not(.lista){
        grid-template-columns: 47% 47%;
    }
}
@media only screen and (max-width: 600px) {
    .pesme:not(.lista){
        grid-template-columns: 95%;
    }
}
#unos{
display: none;
}
.animirajsrce{
    animation-name: animirajsrce;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: easy;
}
.animirajsrcedva{
    animation-name: animirajsrcedva;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: easy;
}
@keyframes animirajsrce{
    0%{
        transform: scale(1) ;
    }
    50%{
        transform: scale(2) ;
    }
    100%{
        transform: scale(1) ;
    }
}
@keyframes animirajsrcedva{
    0%{
        transform: scale(1) ;
    }
    50%{
        transform: scale(0) ;
    }
    100%{
        transform: scale(1) ;
    }
}