:root{
    --plava: #007bff;
}
main{
    margin-top: 20px;
}
.pesme{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-content: space-evenly;
}
.lista{
    grid-template-columns: 95%;   
}
.lista .telo-kartice{
    height: auto;
}
.lista .prikazi-vise{
    display: none;
}
.lista .pesma, .lista .naslov{
width: 100%;
}
.lista .sadrzaj, .lista .komentari{
    width: 50%;
    margin: 0;
}
.lista .telo-kartice{
    display: flex;
}
.lista .komentari{
    display: flex;
}
.lista .sadrzaj{
    border-right: 2px solid #ccc;
}
.lista p{
    height: auto;
    overflow-y: auto;
}
@media only screen and (max-width: 1200px) {
    .pesme:not(.lista){
        grid-template-columns: 30% 30% 30%;
    }
}
@media only screen and (max-width: 1000px) {
    .pesme:not(.lista){
        grid-template-columns: 47% 47%;
    }
}
@media only screen and (max-width: 600px) {
    .pesme:not(.lista){
        grid-template-columns: 95%;
    }
}