.pesma-preko-celog-ekrana{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: var(--pozadina);
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    transform: scale(0);
    transition: all 0.5s;
}
.prikazi-pesmu-na-ceo-ekran{
    transform: scale(1);
}
.okvir-za-pesmu, .okvir-za-komentare{
    width: 40%;
    height: 500px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.okvir-za-pesmu{
    border-right: 2px solid #888888;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
}
.okvir-za-pesmu h1{
    width: 100%;
    height: 50px;
    margin: 0;
    text-align: center;
    position: sticky;
    top: 50px;
    background-color: inherit;
}
.okvir-za-pesmu .pisac{
    width: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    position: sticky;
}
.okvir-za-pesmu p{
width: 100%;
text-align: center;
height: auto;
}
.okvir-za-pesmu{
    overflow: auto;
}
.pesma-preko-celog-ekrana a{
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.05);
}
.pesma-preko-celog-ekrana .kartica{
    position: relative;
}
::-webkit-scrollbar{
    background-color: grey;
    width: 4px;
    border-radius: 0%;
}
::-webkit-scrollbar-thumb{
    background-color: var(--plava);
    border-radius: 2px;
}