.pesma-preko-celog-ekrana{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: var(--pozadina);
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    transform: scale(0);
    transition: all 0.5s;
}
.prikazi-pesmu-na-ceo-ekran{
    transform: scale(1);
}
.okvir-za-pesmu, .okvir-za-komentare{
    width: 40%;
    height: 500px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.okvir-za-pesmu{
    border-right: 2px solid #888888;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
}
.okvir-za-pesmu h1{
    width: 100%;
    height: 50px;
    margin: 0;
    text-align: center;
    position: sticky;
    top: 50px;
    background-color: inherit;
}
.okvir-za-pesmu .pisac{
    width: 100%;
    top: 0;
    left: 0;
    background-color: inherit;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    position: sticky;
}
.okvir-za-pesmu p{
width: 100%;
text-align: center;
height: auto;
}
.okvir-za-pesmu{
    overflow: auto;
}
.pesma-preko-celog-ekrana a{
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:  rgba(0, 0, 0, 0.05);
}
.pesma-preko-celog-ekrana .kartica{
    position: relative;
}
::-webkit-scrollbar{
    background-color: grey;
    width: 4px;
    border-radius: 0%;
}
::-webkit-scrollbar-thumb{
    background-color: var(--plava);
    border-radius: 2px;
}

.okvir-za-komentare button {
    display: none;
}
.okvir-za-komentare{
    position: relative;
}
.okvir-za-komentare label{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    border-bottom: 1px solid black;
    pointer-events: none;
}
.okvir-za-komentare input[type="text"] {
    width: 100%;
    border:0;
    outline: 0 ;
    border-radius:0px;
    box-shadow: none;
    font-family: sans-serif ;
    padding-top: 20px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
.okvir-za-komentare label::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left:0px;
    bottom: -1px;
    border-bottom: 3px solid  var(--plava) ;
    transform: translateX(-100%);
    transition: all 0.3s;
}
.okvir-za-komentare .label-tekst{
    position: absolute;
    bottom: 5px;
    transform: translate(-0%, 0);
    transition: all 0.3s ease;
}
.okvir-za-komentare input:focus + label .label-tekst, 
.okvir-za-komentare input:valid + label .label-tekst,
.okvir-za-komentare input:not(:placeholder-shown) + label .label-tekst{
transform: translate(-0%, -100%);
font-size: 14px;
color: var(--plava);
}
.okvir-za-komentare .pomeri{
transform: translateY(-100%);
color: var(--plava);
font-size: 14px;
}
.okvir-za-komentare input:focus + label::after, 
.okvir-za-komentare input:valid + label::after,
.okvir-za-komentare input:not(:placeholder-shown) + label::after
{
    transform: translateX(0%);
}
.pomeri-border::after{
    transform: translateX(0px) ;
}
.okvir-za-komentare textarea{
    border: 0;
    outline: 0;
    width: 100%;
    height: 240px;
    overflow: auto;
    text-align: center;
    resize: none;
}
.okvir-za-komentare textarea:focus, .okvir-za-komentare textarea:active{
    border: 0;
    outline: 0;
}
#komentari{
    width:100%;
    height: 100%;
    overflow: auto;
}