#okvir-za-uredjivanje {
    display: flex;
    width: 800px;
    height: 580px;
    margin: 20px auto;
    border: 1px solid gray;
}
#za_profilnu {
    height: 100%;
    width: 250px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
#profilna {
    margin-top: 50px;
    height: 150px;
    width: 150px;
    box-sizing: content-box;
    position: relative;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
#za_profilnu #slika {
    width: 100%;
    height: auto;
    margin-top: 0px;
    border-color: #aaa;
    transition: all 0.5s;
    overflow: hidden;
}
#fajl{
    display: none;
}
#forma_za_sliku{
    margin-top: 250px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
#lfajl{
    width: 94%;
}
#otkazi, #submitdugme{
    width: 45%;
}
#grupadugmadi{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
@font-face {
    font-family: roboto;
    src: url(fajlovi/Roboto-Regular.ttf);
}
#podatci{
    font-family: roboto;
    width: 100%;
    padding: 20px;
    font-size: 30px;
}
#naslov{
    display: flex;
    justify-content: space-between;
}
.naslovpolja{
    font-size: 20px;
    margin-bottom: 13px;
}
#ime, #prezime, #korisnickoime {
    margin-top: 23px;
}
#prvagrupa{
    display: flex;
    justify-content: space-between;
}
#drugagrupa{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
#trecagrupa{
    display: block;
    width: 100%;
    padding-top: 30px;
}
#cetvrtagrupa{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
#submitzapodatke, #otkazizapodatke{
    width: 50%;
}
#submitzapodatke{
    margin-right: 20px;
}
#naslov-grupe{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* css deo za inpute */
#podatci  .form-container {
    padding: 50px 60px;
    -webkit-box-shadow: -8px 13px 17px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -8px 13px 17px 3px rgba(0, 0, 0, 0.75);
    box-shadow: -8px 13px 17px 3px rgba(0, 0, 0, 0.75);
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 0;
    max-width: 400px;
    width: 100%;
    background-color: white;
}
#podatci .form-group {
    position: relative;
    height: 40px;
    overflow: hidden;
}
#podatci label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
    box-sizing: border-box;
    margin: 0px;
    border-bottom: 1px solid black;
    pointer-events: none;
}
#podatci input[type="number"],
#podatci input[type="text"],
#podatci input[type="password"] {
    width: 150px;
    height: 100%;
    border: 0 ;
    outline: 0 ;
    font-size: 17px ;
    border-radius: 0px ;
    box-shadow: none ;
    font-family: sans-serif;
    padding-top: 17px;
    box-sizing: border-box;
}
#podatci input[type="email"] {
    width: 100%;
    height: 100%;
    border: 0 ;
    outline: 0 ;
    font-size: 17px ;
    border-radius: 0px ;
    box-shadow: none ;
    font-family: sans-serif;
    padding-top: 17px;
    box-sizing: border-box;
}
#podatci label::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    bottom: -1px;
    border-bottom: 3px solid var(--plava);
    transform: translateX(-100%);
    transition: all 0.3s;
}
#podatci .label-tekst {
    font-size: 15px;
    position: absolute;
    bottom: 5px;
    transition: all 0.3s ease;
}
#podatci .form-group input:focus + label .label-tekst,
#podatci input:not(:placeholder-shown) + label .label-tekst {
    transform: translateY(-90%);
    color: var(--plava);
    font-size: 12px;
}
#podatci .form-group input:focus + label::after,
#podatci input:not(:placeholder-shown) + label::after {
    transform: translateX(0px) !important;
}
.form-control{
    padding: 0px;
}
#emailunos, #lemailunos{
    width: 370px !important;
}
#biografijaunos{
    resize: none;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 6px;
}
#biografijaunos:focus{
    outline: none;
    border: 1px solid var(--plava);
}