* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.o-korisniku {
    font-weight: normal;
    margin: 25px 0px;
}

h3 {
    font-weight: normal;
}

.content {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ceo-info-kontejner {
    display: flex;
    justify-content: flex-start
}

.informacije-kontejner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50px;
}

.profilna {
    width: 200px;
    height: 200px;
}

.biografija-kontejner {
    height: 200px;
    width: 100%;
}

.biografija {
    margin: 25px 0 10px 0;
    text-align: center;
}

.biografija-box {
    height: 100px;
    border-radius: 20px;
    border: 1px solid black;
    width: calc(100% - 20px);
    margin: 0 auto;
}

@media (max-width: 400px) {
    .ceo-info-kontejner {
        align-items: center;
    }

    .profilna {
        width: 100px;
        height: 100px;
    }

    .informacije-kontejner {
        margin-left: 25px;
    }
}